.text__space {
  display: inline-block;
  color: white;
  text-decoration: none;
}

.text__space::after {
  display: block;
  content: "";
  border-bottom: solid 3px white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.text__space:hover::after {
  transform: scaleX(1);
}

.text__space:active {
  color: white;
}

.text__space:visited {
  color: white;
  text-decoration: none;
}
